.home-title {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  margin: 20px 0 0 20px;
}

.home-footer {
  text-align: right;
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.home-footer > .MuiButton-root{
  color: #fff!important;
}

.home-tabs{
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  max-width: 60vw;
}

.home-tabCard{
  height: 854px;
  width: 494px;
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 0 0 40px 0 rgba(255,255,255,0.3);
}